* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --firstColor: #383838;
}

html {
  font-size: 10px;
}

body {
  font-size: 18px;
  /* background: gainsboro; */
  background-image: url("../img/BG2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont {
  display: grid;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  /* background: gainsboro; */
}

#backWindow {
  background-color: #00000033;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-content: center;
  justify-content: center;
  transition: 1s;
  opacity: 0;
  backdrop-filter: blur(5px);
}

#modalWindow {
  background-color: #ffffff;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #808080;
  position: relative;
}

#modalWindow>:nth-child(1) {
  background-color: gainsboro;
  box-shadow: 0 5px 5px #808080;
  height: 60px;
  color: #808080;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  letter-spacing: 3px;
  border-radius: 10px 10px 0 0;
}

#modalWindow>:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px;
  color: #555555;
  font-family: sans-serif;
  font-size: 1.6rem;
}

#modalWindow>:nth-child(2) input[type=color] {
  border: none;
  background: none;
  position: relative;
}

#modalWindow>:nth-child(2) input[type=color]::-moz-color-swatch {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -1px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 4px #bbbbbb;
}

#modalWindow>:nth-child(2) input[type=color]::-webkit-color-swatch {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -1px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 4px #bbbbbb;
}

#closeMenu {
  position: absolute;
  right: 4%;
  top: 3%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
}

#closeMenu:hover {
  background-color: #cccccc;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  font-size: 2.7rem;
  background: #d96459;
  letter-spacing: 4px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgb(237, 249, 255) 0px 0px 1px inset;
}

.header a {
  color: #ffffff;
}

.header>div:nth-child(3) {
  display: grid;
  grid-auto-flow: column;
  height: 35px;
  align-content: center;
  align-items: center;
}

.changeLang {
  color: var(--firstColor);
  font-size: 1.7rem;
  cursor: pointer;
}

.btnHeader {
  border: 1px solid var(--firstColor);
  font-size: 2rem;
  color: var(--firstColor);
  background-color: transparent;
  height: 35px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  font-family: sans-serif;
  display: grid;
  align-content: center;
}

.btnHeader:hover {
  transform: scale(1.1);
}

.main_start {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.main_start > div:nth-child(1) {
  background-color: #ffffff;
  display: grid;
  gap: 20px;
  border-radius: 10px;
  padding: 40px;
}

.main_start > div > h3 {
  text-align: center;
  color: var(--firstColor);
}

.main_start input {
  height: 30px;
  border: 1px solid var(--firstColor);
  border-radius: 5px;
  padding-left: 10px;
}

.main_start input[type='submit'] {
  color: var(--firstColor);
  padding-left: 0;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 0 5px #7fbdbb, 3px 3px 3px #96d8ff;
}

.main_start > div:nth-child(1) > form {
  display: grid;
  gap: 20px;
}

.main_start > a:nth-child(3) {
  color: var(--firstColor);
  font-family: sans-serif;
  font-size: 1.8rem;
  text-align: center;
  transition: .5s;
}

.main_start > a:nth-child(3):hover {
  transform: scale(1.1);
}

.main_startPage__btn {
  height: 100px;
  width: 170px;
  border: 2px solid var(--firstColor);
  border-radius: 10px;
  color: #005cbd;
  font-size: 2rem;

  display: grid;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 5px 5px 5px #b1b1b1;
  transition: 0.5s;
  background: #ffffff;
}

.main_startPage__btn:hover {
  box-shadow: none;
}


.main_chat {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 80px;
  padding: 20px 0 20px 0;
  gap: 20px;
  overflow: auto;
}

.main_chat > div {
  background-color: #ffffff;

  border-radius: 10px;
}

#windowMsg {
  padding-left: 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

#windowMsg > input {
  height: 35px;
  width: 250px;
  border: 1px solid var(--firstColor);
  border-radius: 5px;
}

#windowMsg > input:nth-child(2) {
  height: 35px;
  width: 100px;
  cursor: pointer;
}

#chat {
  display: grid;
  align-content: start;
  gap: 7px;
  padding: 20px;
  overflow: auto;
}


.page {
  display: grid;
  grid-column-gap: 100%;
  max-width: 1280px;
  height: 750px;
  border: 2px solid #d4d4d4;
  margin: 50px auto 0 auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(222 169 73);
  border-radius: 5px;
}

select {
  padding: 10px 35px;
  font-size: 18px;
  color: #ffffff;
  border: 2px solid #000000;
  background-color: #4e596c;
}

select:focus {
  outline: none;
}

.right {
  overflow: auto;
  padding-right: 30px;
}

.right h2 {
  font-weight: normal;
  margin-bottom: 30px;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
}

.book {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 30px;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 10px;
}

img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.book p {
  margin-bottom: 10px;
  line-height: 26px;
}

p.name {
  font-size: 20px;
}

p.added_on {
  font-size: 16px;
}



